*{
  box-sizing: border-box;
}

.App{
  font-family: 'Poppins', sans-serif;
  text-align: center;
}

.nav{
  padding: 1.5em;
  color: black;
  background-color: #f5f5f5;
}

.menu{
  display: flex;
  justify-content: center;
  gap: 1em;
}

a{
  text-decoration: none;
  color: black;
}

a:hover{
  color: orange;
}

.about, .contact{
  height: 85vh;
  display: flex;
}

.contain, .container{
  margin: auto;
}

.container{
  width: 100%;
}

.about p{
  width: 70%;
  margin: auto;
}
.wrapper{
  height: 85vh;
  display: flex
}
.card{
  margin:auto;
  display: flex;
  width: 80%;
}

.card img{
  width: 150px;
  height: 150px;
  object-fit: cover;
  border-radius: 50%;
}

.card p{
  margin-bottom: 0;
  margin-top: 0;
}

.btn{
  margin: auto;
  border: none;
  background-color: black;
  padding: 1em;
  color: white;
  border-radius: 5px;
}


.numbers{
  padding: 1em;
}

.card .contain{
  padding: 3em;
  box-shadow: 2px 2px 10px #88888881;
  border-radius: 20px;
}

button:disabled,
button[disabled]{
  border: 1px solid #999999;
  background-color: #cccccc;
  color: #666666;
}

.card .prev{
  margin-right: 10em;
}
.next{
  margin-left: 10em;
}

.pagination{
  display: flex;
  justify-content: center;
  margin: auto;
  margin-top: 50px;
}

.pagination button{
  border: none;
  background-color: black;
  color: white;
  padding: 1em;
  margin: 0 0.5em;
  border-radius: 5px;
}

.pagination button:disabled,
.pagination button[disabled]{
  border: 1px solid #999999;
  background-color: #cccccc;
  color: #666666;
}

button:hover{
  cursor: pointer;
  background-color: orange;
}

.Error{
  height: 100vh;
  background-color: orange;
  color: black;
  display: flex;
}

.contain *{
  margin-bottom: 0;
  margin-top: 0;
}

.Error h1 {
  font-size: 4em;
  margin-bottom: 0;
  padding-bottom:0;
}

.Error .btn{
  margin-top: 50px;
}

.my-btn{
  color: orange;
  margin-top: 200px;

}

@media screen and (max-width: 768px){
  .card .prev{
    margin-right: -20px;
  }
  .next{
    margin-left: -20px;
  }

  .pagination{
    width:50%;
    display: inline-table;
    margin-top: 30px;
  }

  .pagination button{

    margin: 0 0.1em;

  }
  .card{
    width: 100%;
  }

  .Error .btn{
    margin-top: 50px;
  }
}